/CryptogWorksheet2/build/
CryptogWorksheet2/nbproject/project.properties
CryptogWorksheet2/nbproject/private/private.xml
CryptogWorksheet2/nbproject/build-impl.xml
CryptogWorksheet2/nbproject/private/private.properties
/BCH Generating and Correcting/build/